@tailwind components;

@layer components {
    .page-footer {
        @apply flex
            justify-center
            items-center;

        & > .wrapper {
            @apply text-center
                p-0
                text-sm
                text-gray-500
                dark:text-gray-400;
        }

        & > .wrapper > .content {
            @apply flex
                items-center
                gap-4;
        }

        & > .wrapper > .content > .link {
            @apply inline-flex
                items-center
                hover:text-gray-700
                focus:rounded-sm
                focus:outline
                focus:outline-2
                focus:outline-red-500
                dark:hover:text-white;
        }

        & > .text {
            @apply ml-4
                text-center
                text-right
                text-sm
                text-gray-500
                dark:text-gray-400
                sm:ml-0;
        }
    }
}
